<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kereta_Api.My.MySettings.PBDConnectionString" connectionString="Data Source=ROOT;Initial Catalog=PBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Kereta_Api.My.MySettings.KAIConnectionString" connectionString="Data Source=ROOT;Initial Catalog=KAI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>